:root {
    --color-primary:#2A9D8F;
    --color-secondary: #E76F51;
    --color-tertiary: #E9C46A;
    --color-dark: #264653;
    --color-light: #F4A261;
}

body {
    background-color: red;
}

header {
    text-align: center;
}

a:hover {
    color: var(--color-tertiary) !important;
}

nav {
    background-color: var(--color-primary);
}

#navbarTogglerDemo01 {
    font-size: large;
    /* font-family: ; */
}


#navbarTogglerDemo01 a.active {
    color: var(--color-secondary);
    font-weight: bold;
}

#carouselMain .carousel-item img {
    height: 50vh;
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/productsBanner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-dark);
  }

h2 {
    text-align: center;
}

footer{
    background-color: var(--color-light);
}

