/* Developed by Kaye Poblete */

:root {
    --color-primary:#2A9D8F;
    --color-secondary: #E76F51;
    --color-tertiary: #E9C46A;
    --color-dark: #264653;
    --color-light: #F4A261;
}

body {
    background-color: var(--color-tertiary);
}

header {
    text-align: center;
}

/* CSS for when hovering on links */
a:hover {
    color: var(--color-tertiary) !important;
}

nav {
    background-color: var(--color-primary);
}

/* CSS for navbar */
#navbarTogglerDemo01 {
    font-size: large;
    /* font-family: ; */
}

/* Change color of navbar tab when actively on page */
#navbarTogglerDemo01 a.active {
    color: var(--color-secondary);
    font-weight: bold;
}

/* CSS for carousel on Index page */
#carouselMain .carousel-item img {
    height: 76vh;
}

/* CSS for image banner on Products page */
.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/productsBanner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-dark);
  }

h2 {
    text-align: center;
}

#whatsNewList {
    margin-top: -24px;
    padding-top: 5%;
    padding-bottom: 9%;
    background-color: var(--color-tertiary);
}

#whatsNewList li {
    padding: 10px;
}

#carouselSlidesOnly img {
    width: 1500px;
    height: 525px;
}

.paragraphStyle {
    padding-top: 1%;
    background-color: var(--color-light);
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

.paragraphText {
    margin-left: 15%;
    margin-right: 15%;
}

.bg-custom-form {
    background-color: var(--color-tertiary);
    text-align: justify;
}

#productsDropdown {
    margin-left: 86%;
}

.bg-custom-card {
    background-color: var(--color-light);
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.card {
    margin-bottom: 40px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

footer{
    background-color: var(--color-dark);
}

