:root{
    --color-primary:#606C38;
    --color-secondary: #BC6C25;
    --color-tertiary: #DDA15E;
    --color-dark: #283618;
    --color-light: #FEFAE0;
}

body{
    background-color: var(--color-light);
}

header{
    text-align: center;
}

nav{
    background-color: var(--color-primary);
}

a.active{
    color: var(--color-secondary);
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/rbanner.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-light);
  }
